---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  ogImage?: string;
}

const { title, description, ogImage = "/favicon.svg" } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const ogImageUrl = new URL(ogImage, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://cdn.fasu.dev" crossorigin />
    <link rel="canonical" href={canonicalUrl} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:site_name" content="Fonts" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageUrl} />
    <slot name="head" />
  </head>
  <body>
    <main class="mx-auto max-w-7xl px-md py-lg pb-2xl">
      <slot />
    </main>
  </body>
</html>
